{{> head }}
<h1>Contact Form</h1>
<hr noshade/>
<form class="form-horizontal" method="post" action="{{ baseurl }}/contact/submit">
    <div class="form-group col-lg-12">
        <label class="control-label col-lg-3" for="contactFname">Full Name</label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="contactFname" name="contactFname"/>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <label class="control-label col-lg-3" for="contactEmail">Email</label>
        <div class="col-lg-9">
            <input type="email" class="form-control" id="contactEmail" name="contactEmail"/>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <label class="control-label col-lg-3" for="contactMsg">Message</label>
        <div class="col-lg-9">
            <textarea class="form-control" id="contactMsg" name="contactMsg" rows="5" cols="20"></textarea>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <div class="col-lg-3">&nbsp</div>
        <div class="col-lg-9">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
            <button type="button" class="btn btn-warning"><i class="fa fa-arrow-left" onclick="javascript:location.href = '{{ baseurl }}';"></i> Back</button>
        </div>
    </div>
</form>
{{> foot }}
