{{> head }}
<h1>FWork -- a Very Lightweight, Non-Fat, PHP Framework</h1>
<hr noshade/>
<p>Directory structure of this web application using FWork PHP Framework, as follows:</p>
<ul>
    <li>controllers: this directory contains all controllers needed to handle all request and response</li>
    <li>models: this is where you put business logic in a model</li>
    <li>views: well, whenever you need a presentation put them here. Currently support only mustache template engine.
</ul>
<p>Last but not least, an index.php. This is where everything put all together. The configs, the Singleton class that handles core system, define URL route and controller binding, etc.</p>
<p>If you have questions, please feel free to <a href="/contact">contact us here</a>.
{{> foot }}
