<!doctype html>
<html>
<head>
<title>{{ webtitle }}</title>
<link rel="stylesheet" type="text/css" media="screen" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/assets/bower_components/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
<div class="container">